In [17]:
julien_person = {'name': 'Julien',
                'age': 120,
                'postcode': 'ABC 1234',
                'test': 1235,
                'city': 'London'}

In [7]:
julien_person

{'age': 120, 'name': 'Julien', 'postcode': 'ABC 1234', 'test': 1235}

In [11]:
julien_person['age']

120

In [16]:
# get method does not produce an error !!!
print(julien_person.get('london'))

None

In [18]:
julien_person.values()

dict_values(['Julien', 120, 'ABC 1234', 1235, 'London'])

In [22]:
for key, value in julien_person.items():
    print('My {0} is {1}'.format(key, value))

My name is Julien
My age is 120
My postcode is ABC 1234
My test is 1235
My city is London

In [23]:
for key in julien_person:
    print('My {0} is {1}'.format(key, julien_person[key]))

My name is Julien
My age is 120
My postcode is ABC 1234
My test is 1235
My city is London

In [24]:
# Lists of dicts
people = [
    {'name': 'Anne', 'age': 34, 'postcode': 'WT2 5JJ', 'voted': 'Labour'},
    {'name': 'Bob', 'age': 29, 'postcode': 'EP1 2RQ', 'voted': 'Conservative'},
    {'name': 'Charlie', 'age': 21, 'postcode': 'NN1 8AR', 'voted': 'Liberal Democrat'}
]

In [25]:
for person in people:
    name = person['name']
    age = person['age']
    voted = person['voted']
    print('{0} is {1} years old and voted {2}'.format(name, age, voted))

Anne is 34 years old and voted Labour
Bob is 29 years old and voted Conservative
Charlie is 21 years old and voted Liberal Democrat

# Exercises

In [27]:
prices = {
    "banana": 4,
    "apple": 2,
    "orange": 1.5,
    "pear": 3
    }

In [60]:
list(prices.items())[0][1]

4

In [61]:
for key in prices:
    print('{0} \nprice: {1} \nstock: {2}'.format(list(prices.items())[0][0],
                                                  list(prices.items())[0][1],
                                                  0))

banana
price: 4
stock: 0
banana
price: 4
stock: 0
banana
price: 4
stock: 0
banana
price: 4
stock: 0

In [54]:
stock = {
    "banana": 6,
    "apple": 0,
    "orange": 32,
    "pear": 15
}

prices = {
    "banana": 4,
    "apple": 2,
    "orange": 1.5,
    "pear": 3
}

In [59]:
for key in prices:
    print(key, prices[key], stock[key])

banana 4 6
apple 2 0
orange 1.5 32
pear 3 15

In [65]:
total = 0
for key in prices:
    total += (prices[key] + stock[key])
    
print(total)

63.5

In [72]:
def compute_bill(food):
    total = 0
    for item in food:
        total += prices[item]
    
    return total

In [73]:
food = ['apple', 'banana', 'orange']
compute_bill(food)

7.5

In [99]:
def compute_bill2(food):
    total = 0
    for item in food:
        #print(item)
        if stock[item] > 0:
            total += prices[item]
            stock[item] -= 1
            #print(stock)
            
    print('The total price is: ',total, '\nand new stock is:\n', stock)

In [102]:
food = ['apple', 'banana', 'orange']
compute_bill2(food)

The total price is:  1.5
and new stock is:
 {'banana': 0, 'apple': 0, 'orange': 19, 'pear': 15}

In [103]:
lloyd = {
  "name": "Lloyd",
  "homework": [90.0,97.0,75.0,92.0],
  "quizzes": [88.0,40.0,94.0],
  "tests": [75.0,90.0]
}
alice = {
  "name": "Alice",
  "homework": [100.0, 92.0, 98.0, 100.0],
  "quizzes": [82.0, 83.0, 91.0],
  "tests": [89.0, 97.0]
}
tyler = {
  "name": "Tyler",
  "homework": [0.0, 87.0, 75.0, 22.0],
  "quizzes": [0.0, 75.0, 78.0],
  "tests": [100.0, 100.0]
}

In [123]:
students = [lloyd, alice, tyler]

In [124]:
for student in students:
    for key in student:
    
        print(key, student[key])

name Lloyd
homework [90.0, 97.0, 75.0, 92.0]
quizzes [88.0, 40.0, 94.0]
tests [75.0, 90.0]
name Alice
homework [100.0, 92.0, 98.0, 100.0]
quizzes [82.0, 83.0, 91.0]
tests [89.0, 97.0]
name Tyler
homework [0.0, 87.0, 75.0, 22.0]
quizzes [0.0, 75.0, 78.0]
tests [100.0, 100.0]

In [127]:
def average(numbers):
    """
        Write a function average that takes a list of numbers and returns the average.
        Define a function called average that has one argument, numbers.
        Inside that function, call the built-in sum() function with the numbers list as a parameter. 
        Store the result in a variable called total.
        Use float() to convert total and store the result in total.
        Divide total by the length of the numbers list. Use the built-in len() function to calculate that.
        Return that result.
    """
    total = float(sum(numbers))
    
    return (total / len(numbers))

In [128]:
average([1,2,3,4,5,6])

3.5

In [137]:
def get_average(student):
    """
    Define a function called get_average that takes one argument called student.
    Make a variable homework that stores the average() of student["homework"].
    Repeat step 2 for "quizzes" and "tests".
    Multiply the 3 averages by their weights and return the sum of those three. 
    Homework is 10%, quizzes are 30% and tests are 60%.
    """
    homework = average(student['homework']) * 0.1
    quizzes = average(student['quizzes']) * 0.3
    tests = average(student['tests']) * 0.6
    
    return sum([homework, quizzes, tests])

In [138]:
get_average(lloyd)

80.55

In [139]:
def get_letter_grade(score):
    
    if score >= 90: 
        return "A"
    elif score >= 80: 
        return "B"
    elif score >= 70: 
        return "C"
    elif score >= 60: 
        return "D"
    else: 
        return "F"

In [142]:
get_letter_grade(get_average(lloyd))

'B'

In [143]:
def get_class_average(students):
    
    results = []
    for student in students:
        results.append(get_average(student)) 
    
    return average(results)

In [147]:
print(get_class_average(students))
print(get_letter_grade(get_class_average(students)))

83.86666666666666
B