## Setting things up

In [1]:
from operator import add

from pyspark.sql import SparkSession

spark = SparkSession\
    .builder\
    .appName("Spark Examples")\
    .getOrCreate()

## Creating an RDD

In [2]:
# The elements of this data set are copied to form a distributed data set that can be operated
# on in parallel.
# Call sc.parallelize(iterable, num_partitions) to create a distributed data set with one
# task run per partition (typically 2-4 partitions for each cluster CPU). 
data = [1, 2, 3, 4, 5]
num_partitions = 3
rdd_data = spark.sparkContext.parallelize(data, num_partitions)
rdd_data

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:480

In [3]:
# Since an RDD is distributed amongst multiple computers, printing out its values
# on *this* computer is nontrivial
rdd_data.take(3)

[1, 2, 3]

In [4]:
# Warning: only do this for small RDDs as it'll bring back all the data !
rdd_data.collect()

[1, 2, 3, 4, 5]

In [5]:
rdd_data.reduce(lambda a, b: a+b)

15

In [6]:
def my_fun(a, b):
    return a + b

rdd_data.reduce(my_fun)

15

In [7]:
# PySpark can create distributed datasets from any storage source supported by Hadoop,
# including your local file system, HDFS, Cassandra, HBase, Amazon S3 etc. Spark supports
# text files, SequenceFiles and any other Hadoop InputFormat.

In [8]:
lines = spark.sparkContext.textFile("SQL Notes.txt")
lines

SQL Notes.txt MapPartitionsRDD[6] at textFile at NativeMethodAccessorImpl.java:0

In [9]:
# Calculating the total length of all lines in the text file

# map() is a *transformation*: it turns an RDD into another RDD.
# In this case, it turns our RDD representing the text file lines into
# an RDD containing the length of each line in the file.
line_lengths = lines.map(lambda s: len(s))

# Uncomment the following line to see the first 10 elements 
#line_lengths.take(10)

In [10]:
# reduce() is an *action*: it actually returns a value.
# This reduction adds all the line lengths together to produce the total
# length of all lines.
# Due to lazy evaluation, the map() above does not actually run until we
# perform this reduce() action.
total_length = line_lengths.reduce(lambda a, b: a + b)
total_length

24646

## Creating a DataFrame

These work similarly to data frames in pandas and R. DataFrames are part of Spark SQL, which gives Spark more information than raw RDDs about the structure of the data and the type of computation you're performing. This allows Spark to perform extra optimisations than would be the case for raw RDDs.

For ML purposes you should generally use DataFrames over raw RDDs.

In [11]:
# As with RDDs, you can create DataFrames in many ways: from files, external DBs, existing RDDs...
people_df = spark.read.json("people.json")
people_df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [12]:
people_df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [13]:
# Select people older than 21
people_df.filter(people_df['age'] > 21).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [14]:
# Count people by age
people_df.groupBy("age").count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+

## Word counts

In [15]:
# read.text() is unlike textFile() in that it creates a Spark DataFrame, not an RDD
lines_df = spark.read.text("SQL Notes.txt")
lines_df.printSchema()

root
 |-- value: string (nullable = true)

In [16]:
lines_df.show()

+--------------------+
|               value|
+--------------------+
|* Resources: Cour...|
|                    |
|* Relational alge...|
|    Mathematical ...|
|    Theory refers...|
|    Algebra is cl...|
|    SQL has relat...|
|                    |
| * Relational model:|
|  - A *database* ...|
|                    |
|  - Each relation...|
|                    |
|  - Each tuple in...|
|                    |
|  - Each attribut...|
|                    |
|  - *Schema*: Str...|
|    - DB schema i...|
|                    |
+--------------------+
only showing top 20 rows

In [17]:
# Let's have a look at the first element of this DataFrame.
# Note that it's a PySpark SQL row: https://spark.apache.org/docs/1.1.1/api/python/pyspark.sql.Row-class.html
lines_df.rdd.first()

Row(value='* Resources: Coursera (Introduction to DBs)')

In [18]:
# 1st 5 elements, just so you can see what they look like
lines_df.rdd.take(5)

[Row(value='* Resources: Coursera (Introduction to DBs)'),
 Row(value=''),
 Row(value='* Relational algebra:'),
 Row(value='    Mathematical basis of relational databases: specifies set operators like intersection, union, difference, selection, projection, join'),
 Row(value='    Theory refers to sets (each element is unique), but in practice we usually deal with bags (which do allow duplicates)')]

In [19]:
lines_rdd = lines_df.rdd.map(lambda r: r.value)

# Equivalently...
#lines_rdd = lines_df.rdd.map(lambda r: r[0])

In [20]:
# Split each line into individual words
# Unlike map(), flatMap() "flattens" a list of lists into a single list
split_rdd = lines_rdd.flatMap(lambda x: x.split(' '))
split_rdd.take(10)

['*',
 'Resources:',
 'Coursera',
 '(Introduction',
 'to',
 'DBs)',
 '',
 '*',
 'Relational',
 'algebra:']

In [21]:
# This attaches the number "1" to each word. See the next cell to find out why we do this!
word_one_rdd = split_rdd.map(lambda x: (x, 1))
word_one_rdd.take(5)

[('*', 1), ('Resources:', 1), ('Coursera', 1), ('(Introduction', 1), ('to', 1)]

In [22]:
# This will group every value with the same key and add the values together
# Since each value is just 1, this operation will give us the word count for each
# key
word_counts = word_one_rdd.reduceByKey(add)

In [23]:
# We've finished, so use collect() to pull back the final word counts
word_counts.collect()

[('*', 49),
 ('Resources:', 1),
 ('Coursera', 1),
 ('(Introduction', 1),
 ('to', 49),
 ('DBs)', 1),
 ('', 4317),
 ('Relational', 2),
 ('algebra:', 1),
 ('Mathematical', 1),
 ('basis', 1),
 ('of', 63),
 ('relational', 2),
 ('databases:', 1),
 ('specifies', 1),
 ('set', 7),
 ('operators', 1),
 ('like', 8),
 ('intersection,', 1),
 ('union,', 1),
 ('difference,', 1),
 ('selection,', 1),
 ('projection,', 1),
 ('join', 4),
 ('Theory', 1),
 ('refers', 1),
 ('sets', 2),
 ('(each', 1),
 ('element', 1),
 ('is', 24),
 ('unique),', 1),
 ('but', 8),
 ('in', 37),
 ('practice', 1),
 ('we', 9),
 ('usually', 1),
 ('deal', 1),
 ('with', 19),
 ('bags', 1),
 ('(which', 1),
 ('do', 5),
 ('allow', 2),
 ('duplicates)', 1),
 ('Algebra', 1),
 ('closed:', 2),
 ('results', 4),
 ('operations', 1),
 ('are', 11),
 ('also', 6),
 ('relations', 3),
 ('SQL', 9),
 ('has', 8),
 ('algebra', 1),
 ('as', 18),
 ('its', 3),
 ('foundation', 1),
 ('model:', 1),
 ('-', 145),
 ('A', 4),
 ('*database*', 1),
 ('a', 72),
 ('named', 2),
 ('*relations*', 1),
 ('(or', 2),
 ('*tables*)', 1),
 ('Each', 4),
 ('relation', 6),
 ('attributes', 4),
 ('columns)', 1),
 ('tuple', 3),
 ('value', 11),
 ('for', 23),
 ('each', 14),
 ('attribute', 2),
 ('*type*', 1),
 ('*Schema*:', 1),
 ('Structural', 1),
 ('description', 1),
 ('the', 70),
 ('contents', 2),
 ('DB', 12),
 ('(set', 1),
 ('up', 5),
 ('advance:', 1),
 ('includes', 4),
 ('names', 6),
 ('relations,', 1),
 ('&', 3),
 ('their', 1),
 ('types)', 1),
 ('schema', 3),
 ('collection', 1),
 ('schemas', 1),
 ('*Instance*:', 1),
 ('Actual', 1),
 ('at', 6),
 ('particular', 3),
 ('point', 1),
 ('time', 2),
 ('Query', 1),
 ('language', 1),
 ('Results', 1),
 ('from', 18),
 ('queries', 5),
 ('--', 5),
 ('creating', 1),
 ('DBs/tables,', 1),
 ('loading', 2),
 ('data', 9),
 ('into', 3),
 ('tables,', 1),
 ('writing', 1),
 ('back', 1),
 ('out', 1),
 ('files:', 1),
 ('Creating', 3),
 ('and', 36),
 ('using', 4),
 ('new', 1),
 ('SQL;', 1),
 ('CREATE', 18),
 ('DATABASE', 2),
 ('my_db;', 3),
 ('USE', 1),
 ('(table)', 1),
 ('by', 18),
 ('specifying', 1),
 ('SCHEMA:', 1),
 ('TABLE', 13),
 ('Movie(mID', 1),
 ('int,', 5),
 ('title', 12),
 ('text,', 1),
 ('year', 13),
 ('director', 4),
 ('text);', 1),
 ('/*', 4),
 ('simple', 1),
 ('example', 2),
 ('*/', 4),
 ('training', 5),
 ('(num_clicks', 1),
 ('INT', 7),
 ('UNSIGNED,', 4),
 ('num_impressions', 1),
 ('more', 5),
 ('complex', 1),
 ('display_url', 1),
 ('VARCHAR(30),', 7),
 ('ad_id', 1),
 ('advertiser_id', 1),
 ('depth', 1),
 ('position', 1),
 ('query_id', 1),
 ('keyword_id', 1),
 ('title_id', 1),
 ('description_id', 1),
 ('user_id', 1),
 ('VARCHAR(30));', 1),
 ('Showing', 1),
 ('accessible', 1),
 ('DBs', 4),
 ('tables:', 2),
 ('SHOW', 2),
 ('databases;', 1),
 ('tables;', 1),
 ('Drop', 1),
 ('or', 9),
 ('DROP', 6),
 ('Movie;', 6),
 ('IF', 1),
 ('EXISTS', 1),
 ('first', 7),
 ('check', 3),
 ('see', 4),
 ('if', 12),
 ('table', 14),
 ('exists', 1),
 ('Loading', 1),
 ('text', 2),
 ('file', 1),
 ('table:', 2),
 ('LOAD', 1),
 ('DATA', 1),
 ('LOCAL', 1),
 ('INFILE', 1),
 ("'training.txt'", 1),
 ('INTO', 7),
 ('FIELDS', 2),
 ('TERMINATED', 3),
 ('BY', 18),
 ("'\\t';", 1),
 ('Writing', 1),
 ('file:', 1),
 ('SELECT', 51),
 ("'col_name1',", 1),
 ("'col_name2'...", 1),
 ('UNION', 5),
 ('ALL', 3),
 ('FROM', 53),
 ('OUTFILE', 1),
 ("'training.csv'", 1),
 ("','", 1),
 ('LINES', 1),
 ("'\\n';", 1),
 ('Populating', 1),
 ('hand:', 1),
 ('SQL_SAFE_UPDATES', 1),
 ('=', 49),
 ('0;', 2),
 ('tell', 2),
 ('MySQL', 3),
 ('updates', 1),
 ('INSERT', 7),
 ('Movie', 25),
 ('values(101,', 1),
 ("'Gone", 1),
 ("Wind',", 1),
 ('1939,', 1),
 ("'Victor", 1),
 ("Fleming');", 1),
 ('#', 72),
 ('Insert', 1),
 ('5-star', 1),
 ('ratings', 4),
 ('James', 2),
 ('Cameron', 2),
 ('all', 14),
 ('movies', 10),
 ('database.', 1),
 ('Leave', 1),
 ('review', 1),
 ('date', 3),
 ('NULL.', 1),
 ('Rating', 18),
 ('207,', 1),
 ('mID,', 2),
 ('5,', 1),
 ('null', 1),
 ('this', 12),
 ('gets', 3),
 ('every', 3),
 ('mID', 15),
 ('ID', 4),
 ("'207'", 1),
 ('Removing/updating', 1),
 ('data:', 2),
 ('SEE', 1),
 ('BELOW', 1),
 ('SIMILAR', 1),
 ('SYNTAX', 1),
 ('TO', 3),
 ('QUERY', 1),
 ('GET', 1),
 ('THE', 1),
 ('ROWS', 1),
 ('WE', 1),
 ('WANT,', 1),
 ('THEN', 3),
 ('DELETE/UPDATE', 1),
 ('THEM', 1),
 ('Updating', 1),
 ('rows:', 2),
 ('UPDATE', 2),
 ('SET', 4),
 ('+', 3),
 ('25', 1),
 ('WHERE', 31),
 ('IN', 5),
 ('(SELECT', 11),
 ('Movie);', 2),
 ('clause', 3),
 ('Deleting', 1),
 ('DELETE', 2),
 ('Highschooler', 10),
 ('grade', 6),
 ('12;', 1),
 ('Adding', 1),
 ('column:', 2),
 ('ALTER', 2),
 ('ADD', 2),
 ('ctr', 2),
 ('DOUBLE;', 1),
 ('adds', 2),
 ('column', 11),
 ("'ctr'", 1),
 ('type', 2),
 ('double', 1),
 ('num_clicks', 1),
 ('/', 1),
 ('num_impressions;', 1),
 ('entry', 2),
 ('Sorting', 1),
 ('ORDER', 7),
 ('col', 3),
 ('(DESC):', 1),
 ('year;', 1),
 ('sort', 3),
 ('increasing', 2),
 ('DESC;', 1),
 ('decreasing', 2),
 ('year,rating;', 1),
 ('then', 9),
 ('rating', 9),
 ('Removing', 1),
 ('duplicates', 3),
 ('result', 5),
 ('DISTINCT):', 1),
 ('DISTINCT', 4),
 ('Determining', 1),
 ('does', 1),
 ('NOT', 12),
 ('take', 2),
 ('(WHERE/AND', 1),
 ('variable', 2),
 ('IN):', 1),
 ('Movie.mID', 12),
 ('Rating);', 1),
 ('finds', 3),
 ('no', 2),
 ('LIKE:', 1),
 ('More', 1),
 ('flexible', 1),
 ('than', 3),
 ('operator', 2),
 ('when', 6),
 ('matching', 2),
 ('query', 4),
 ('*string*', 1),
 ('LIKE', 2),
 ('"Gone%";', 1),
 ('matches', 1),
 ('any', 2),
 ('that', 15),
 ('*starts*', 1),
 ('"Gone"', 1),
 ('"%the%";', 1),
 ('excludes', 1),
 ('titles', 2),
 ('contain', 1),
 ('"the"', 1),
 ('------', 2),
 ('Find', 4),
 ('grades', 1),
 ('students', 6),
 ('who', 5),
 ('only', 8),
 ('have', 7),
 ('friends', 2),
 ('same', 7),
 ('grade.', 2),
 ('Return', 2),
 ('sorted', 1),
 ('grade,', 3),
 ('name', 7),
 ('within', 1),
 ('IDs', 1),
 ('*do*', 1),
 ('different', 2),
 ('exclude', 1),
 ('them', 2),
 ('name,', 2),
 ('H1.ID', 6),
 ('H1,', 3),
 ('H2,', 3),
 ('Friend', 4),
 ('F', 1),
 ('F.ID1', 1),
 ('AND', 21),
 ('H2.ID', 6),
 ('F.ID2', 1),
 ('H1.grade', 1),
 ('<>', 1),
 ('H2.grade)', 1),
 ('name;', 1),
 ('NULL', 10),
 ('values:', 1),
 ('Special', 1),
 ('"unknown"', 1),
 ('"undefined"', 1),
 ('E.g.', 4),
 ('search', 1),
 ('GPA', 5),
 ('>', 9),
 ('3.5,', 1),
 ('student', 4),
 ('will', 4),
 ('*not*', 2),
 ('be', 26),
 ('returned', 1),
 ('Use', 1),
 ('IS', 3),
 ('NULL/IS', 1),
 ('determine', 1),
 ('NULL:', 1),
 ('NULL;', 1),
 ('Do', 1),
 ('use', 4),
 ("'=", 1),
 ("NULL';", 1),
 ('would', 1),
 ('return', 5),
 ('nothing', 3),
 ('equal', 3),
 ("'NULL'", 2),
 ('Aliases:', 1),
 ('Aliasing', 2),
 ('M,', 1),
 ('R,', 1),
 ('R2...', 1),
 ('col1', 2),
 ('col2', 2),
 ('AS', 13),
 ('diff', 1),
 ('Movie...', 1),
 ('MUST', 1),
 ('alias', 3),
 ('derived', 3),
 ('table/subquery:', 1),
 ('M1.mID', 2),
 ('Movie)', 2),
 ('M1,', 1),
 ('M1', 1),
 ('year,mID', 1),
 ('M2', 2),
 ('M2.mID;', 1),
 ('----------', 1),
 ('For', 6),
 ('movie,', 2),
 ("'rating", 1),
 ("spread',", 1),
 ('is,', 1),
 ('difference', 3),
 ('between', 6),
 ('highest', 3),
 ('lowest', 1),
 ('given', 2),
 ('movie.', 2),
 ('Sort', 2),
 ('spread', 1),
 ('lowest,', 1),
 ('movie', 8),
 ('title.', 2),
 ('title,', 4),
 ('MAX(stars)', 2),
 ('MIN(stars)', 1),
 ('ratingSpread', 2),
 ('Movie,', 7),
 ('Rating.mID', 8),
 ('GROUP', 10),
 ('desc,', 1),
 ('title;', 3),
 ('EXPLAIN', 1),
 ('SELECT...', 1),
 ('gives', 6),
 ('execution', 2),
 ('plan', 1),
 ('query;', 1),
 ('shows', 2),
 ('what', 2),
 ('column(s)', 1),
 ('should', 5),
 ('made', 3),
 ('an', 6),
 ('index', 9),
 ('etc', 2),
 ('Gives', 1),
 ('list', 2),
 ('rows', 15),
 ('showing', 1),
 ('queried', 1),
 ('tables', 2),
 ('Key:', 1),
 ('Identifies', 1),
 ('row', 4),
 ('(possibly', 1),
 ('uniquely)', 1),
 ('Attribute', 1),
 ('whose', 1),
 ('unique', 5),
 ('tuple,', 1),
 ('e.g.', 6),
 ('Can', 8),
 ('combo', 2),
 ('key,', 1),
 ('"Name', 1),
 ('State"', 1),
 ('college', 1),
 ('used', 4),
 ('identify', 1),
 ('specific', 2),
 ('tuples', 1),
 ('quickly;', 1),
 ('can', 15),
 ('find', 3),
 ('very', 1),
 ('quickly', 1),
 ('based', 1),
 ('on', 10),
 ('key', 7),
 ('If', 4),
 ('one', 9),
 ('wants', 1),
 ('refer', 1),
 ('another', 1),
 ('relation,', 1),
 ('typically', 2),
 ('so', 6),
 ('via', 1),
 ("tuple's", 1),
 ('Primary', 2),
 ('key:', 1),
 ('Represents', 1),
 ('column/set', 1),
 ('columns', 6),
 ('most', 1),
 ('vital', 1),
 ('Has', 1),
 ('associated', 1),
 ('fast', 1),
 ('never', 2),
 ('Only', 1),
 ('primary', 3),
 ('allowed', 1),
 ('In', 3),
 ('MySQL:', 1),
 ('KEY', 5),
 ('EQUIVALENT', 1),
 ('INDEX', 5),
 ('UNIQUE', 4),
 ('constraint', 9),
 ('says', 1),
 ('keys', 1),
 ('must', 4),
 ('distinct', 3),
 ('PRIMARY', 7),
 ('cannot', 2),
 ('SQL:', 1),
 ('MyTable(id', 4),
 ('KEY,', 2),
 ('TEXT,', 3),
 ('INT);', 2),
 ('basic', 7),
 ('form', 8),
 ('MyTable', 3),
 ('KEY(MyKey)', 1),
 ('my_key', 1),
 ('now', 3),
 ('my_table', 1),
 ('Normalisation:', 1),
 ('Subqueries:', 1),
 ('See', 1),
 ('"derived', 1),
 ('tables"', 1),
 ('above', 4),
 ('SELECT,', 1),
 ('LIMIT:', 1),
 ('LIMIT', 2),
 ('5;', 3),
 ('get', 3),
 ('5', 1),
 ('2,3;', 1),
 ('3', 1),
 ('starting', 1),
 ('2', 1),
 ('(uses', 1),
 ('0-based', 1),
 ('indexing,', 1),
 ('starts', 1),
 ('0)', 1),
 ('UNION:', 1),
 ('Combines', 1),
 ('multiple', 3),
 ('statements', 5),
 ('single', 1),
 ('Uses', 1),
 ('statement', 2),
 ('First', 2),
 ('subsequent', 1),
 ('statements,', 1),
 ('Syntax:', 3),
 ("'101'", 4),
 ('produces', 3),
 ("'108'", 1),
 ("'108';", 1),
 ('called', 1),
 ('which', 3),
 ('contains', 2),
 ("'mID'", 2),
 ('values', 4),
 ("'stars'", 1),
 ('stars', 7),
 ('above,', 1),
 ('(i.e.', 1),
 ('other', 3),
 ('cases', 2),
 ("'stars", 1),
 ("5')", 1),
 ('Joins:', 1),
 ('*Join', 1),
 ('condition*', 1),
 ('something', 1),
 ("'Reviewer.rID", 1),
 ('Rating.rID', 3),
 ("Movie.mID'", 1),
 ('Used', 3),
 ('ensure', 1),
 ('right', 4),
 ('matched', 1),
 ('joined', 1),
 ('together', 1),
 ('http://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins',
  1),
 ('...FROM', 1),
 ('Table1,', 1),
 ('Table2...', 1),
 ('Implicit', 1),
 ('join,', 1),
 ('essentially', 1),
 ('cross', 2),
 ('product', 1),
 ('Same', 3),
 ('INNER', 10),
 ('JOIN', 14),
 ('Rating.mID;', 4),
 ('equiv.', 3),
 ('below', 1),
 ('ON', 9),
 ('condition', 3),
 ('Takes', 1),
 ('product;', 1),
 ('applies', 1),
 ('"condition"', 1),
 ('keeps', 1),
 ('satisfy', 1),
 ('implicit', 2),
 ('USING(attrs)', 1),
 ('Similar', 2),
 ('NATURAL', 2),
 ('JOIN,', 3),
 ('explicitly', 1),
 ('want', 4),
 ('equated', 1),
 ('Bit', 1),
 ('syntactic', 1),
 ('sugar', 1),
 ('normal', 2),
 ('copy', 1),
 ('match', 4),
 ('USING', 1),
 ('(mID);', 1),
 ('Equates', 1),
 ('(&', 1),
 ('values),', 1),
 ('eliminates', 1),
 ('duplicate', 1),
 ('Dangerous', 1),
 ('discouraged', 1),
 ('LEFT', 3),
 ('|', 3),
 ('RIGHT', 2),
 ('FULL', 2),
 ('OUTER', 5),
 ('pads', 1),
 ("don't", 4),
 ('JOIN:', 2),
 ('condition,', 1),
 ('but...', 1),
 ('Also', 2),
 ('left', 4),
 ('even', 2),
 ('they', 4),
 ('Basically', 1),
 ('table,', 1),
 ("haven't", 2),
 ('been', 1),
 ('rated', 3),
 ('anyone', 1),
 ('reviewers', 1),
 ('both', 3),
 ('Not', 1),
 ('supported', 1),
 ('emulated', 1),
 ('Self-join:', 1),
 ('compare', 1),
 ('against', 2),
 ('following', 1),
 ('example,', 1),
 ('itself,', 1),
 ('adding', 1),
 ('extra', 2),
 ('conditions', 2),
 ("'Rating", 1),
 ("r2'", 1),
 ('where', 2),
 ('reviewer', 1),
 ('twice', 1),
 ('gave', 1),
 ('it', 3),
 ('higher', 1),
 ('second', 1),
 ('time,', 2),
 ("reviewer's", 1),
 ('name,title', 1),
 ('Reviewer,', 1),
 ('Rating,', 1),
 ('r2', 1),
 ('Reviewer.rID', 1),
 ('r2.rID', 1),
 ('r2.mID', 1),
 ('r2.ratingDate', 1),
 ('Rating.ratingDate', 1),
 ('r2.stars', 1),
 ('Rating.stars;', 1),
 ('pair', 2),
 ('other,', 1),
 ('students.', 1),
 ('Include', 1),
 ('once,', 1),
 ('two', 2),
 ('alphabetical', 1),
 ('order.', 1),
 ('H1.name,', 3),
 ('H1.grade,', 2),
 ('H2.name,', 2),
 ('H2.grade', 1),
 ('Likes', 4),
 ('L1,', 1),
 ('L2', 1),
 ('L1.ID1', 1),
 ('L1.ID2', 1),
 ('L2.ID2', 1),
 ('L2.ID1', 1),
 ('H1.name', 1),
 ('<', 7),
 ('H2.name', 1),
 ('H2.name;', 1),
 ('Aggregate', 1),
 ('functions:', 1),
 ('Functions', 1),
 ('applied', 2),
 ('groups', 1),
 ('rows,', 1),
 ('min/max/count', 1),
 ('apply', 1),
 ('id', 1),
 ('group', 2),
 ('ID,', 1),
 ('aggregate', 2),
 ('functions', 2),
 ('When', 1),
 ('you', 1),
 ('specify', 1),
 ('BY,', 2),
 ('database', 1),
 ('aggregated', 1),
 ('supplied', 1),
 ('columns.', 1),
 ('case,', 1),
 ("we're", 1),
 ('saying', 1),
 ('"for', 1),
 ('foo,', 1),
 ('me', 1),
 ('number', 8),
 ('times', 1),
 ('appears".', 1),
 ('COUNT(*)', 3),
 ('O(n)', 1),
 ('director;', 2),
 ('MAX(year)', 1),
 ('latest', 1),
 ('directed', 1),
 ('COUNT(id)', 1),
 ('COUNT(distinct', 1),
 ('name)', 1),
 ('Highschooler;', 1),
 ('school', 1),
 ('HAVING:', 1),
 ('Needed', 1),
 ('because', 2),
 ("can't", 1),
 ('conjunction', 1),
 ('liked', 1),
 ('student.', 1),
 ('H,', 1),
 ('L', 1),
 ('H.ID', 1),
 ('L.ID2', 3),
 ('HAVING', 1),
 ('1;', 1),
 ('Postgres:', 3),
 ('Conditionals:', 1),
 ('CASE', 1),
 ('WHEN', 3),
 ('condition_1', 1),
 ('do_something...', 3),
 ('condition_2', 1),
 ('ELSE', 1),
 ('END', 1),
 ('col_name', 1),
 ('Dates', 2),
 ('intervals:', 1),
 ('\t\t\t', 2),
 ('update_date', 1),
 ("('2013-05-03'::date", 1),
 ("'1", 1),
 ("day'::interval);", 1),
 ('formatted', 1),
 ('descending', 1),
 ('order', 3),
 ('magnitude:', 1),
 ('YYYY-MM-DD', 1),
 ('HH:MM:SS.nnnnnn', 1),
 ('No', 1),
 ('need', 2),
 ('cast', 1),
 ('case', 1),
 ("it's", 2),
 ('automatic', 1),
 ('extract(month', 1),
 ('timestamp)', 1),
 ('month', 1),
 ("'3'", 1),
 ('String', 1),
 ('concatenation', 1),
 ('||:', 1),
 ('(firstname', 1),
 ('||', 2),
 ("'", 2),
 ('surname)', 1),
 ('member', 1),
 ('FROM...', 1),
 ('-----', 1),
 ('least', 1),
 ('rating,', 1),
 ('received.', 1),
 ('stars.', 1),
 ('Indexes:', 1),
 ('way', 1),
 ('achieving', 1),
 ('increased', 1),
 ('performance', 1),
 ('User', 1),
 ('indexes', 4),
 ('Given', 1),
 ("'col',", 1),
 ('perform', 3),
 ('quick', 1),
 ('lookups', 3),
 ("'col", 2),
 ("8'", 2),
 ("'4", 2),
 ("9';", 1),
 ('scan', 1),
 ('whole', 1),
 ('Hash-based', 1),
 ('indexes:', 2),
 ('constant-time,', 1),
 ('equality-based', 1),
 ('Tree-based', 1),
 ('log', 1),
 ('handle', 1),
 ("9'", 1),
 ('create', 2),
 ('Disadvantages:', 1),
 ('Take', 1),
 ('space,', 1),
 ('creation', 1),
 ('while,', 1),
 ('maintained', 1),
 ('modifications', 1),
 ('become', 1),
 ('much', 2),
 ('slower', 1),
 ('Deciding', 1),
 ('create:', 1),
 ('Depends', 1),
 ('size', 1),
 ('DB,', 2),
 ('distributions,', 1),
 ('vs', 1),
 ('update', 1),
 ('frequencies', 1),
 ('Physical', 1),
 ('design', 1),
 ('advisors', 1),
 ('recommend', 1),
 ('stats', 1),
 ('workload', 1),
 ('myIndex', 4),
 ('myDB', 3),
 ('(myCol)', 1),
 ('(myCol1,', 1),
 ('myCol2)', 1),
 ('(name(10))', 1),
 ('1st', 1),
 ('10', 1),
 ('characters', 1),
 ("'name';", 1),
 ('creates', 1),
 ('smaller', 1),
 ('file,', 1),
 ('poss.', 1),
 ('speed', 2),
 ('myIndex...', 1),
 ('ensures', 1),
 ('*column*', 1),
 ('unique;', 1),
 ('enforcement', 1),
 ('deletes', 3),
 ('(Integrity)', 1),
 ('Constraints', 2),
 ('constrain', 1),
 ('allowable', 2),
 ('states', 1),
 ('Impose', 1),
 ('restrictions', 1),
 ('Catch', 1),
 ('entry/update', 1),
 ('errors', 1),
 ('Enforce', 1),
 ('consistency', 1),
 ('Tell', 1),
 ('system', 7),
 ('about', 1),
 ('constraints', 7),
 ('etc;', 1),
 ('processing', 1),
 ('info', 1),
 ('0.0', 3),
 ('4.0', 2),
 ("'decision'", 1),
 ('might', 1),
 ("'Y',", 1),
 ("'N'", 1),
 ('major', 1),
 ("'CS'", 1),
 ('=>', 1),
 ('decision', 1),
 ('meaning', 1),
 ('decisions', 1),
 ('CS', 1),
 ('majors', 1),
 ('Types', 1),
 ('constraints:', 1),
 ('Non-NULL', 1),
 ('Key', 1),
 ('Referential', 1),
 ('integrity', 1),
 ('(foreign', 1),
 ('key)', 1),
 ('Attribute-based', 1),
 ('Tuple-based', 1),
 ('General', 1),
 ('assertions', 1),
 ('declare', 1),
 ('original', 1),
 ('schema;', 1),
 ('checked', 3),
 ('after', 6),
 ('bulk', 1),
 ('Or', 1),
 ('add', 1),
 ('later;', 1),
 ('current', 1),
 ('state', 1),
 ('added', 1),
 ('Enforcement:', 1),
 ('whenever', 2),
 ('relevant', 1),
 ('modification', 1),
 ('Deferred', 1),
 ('checking:', 1),
 ('Check', 1),
 ('*whole', 1),
 ('transaction', 11),
 ('completed*', 1),
 ('Constraint', 1),
 ('syntax:', 3),
 ('INT,', 5),
 ('NULL);', 2),
 ('RatingNotNull(rID', 1),
 ('ratingDate', 1),
 ('RatingNotNull', 1),
 ('values(202,', 1),
 ('106,', 1),
 ('4,', 1),
 ('NULL);\t', 1),
 ('violates', 3),
 ('values(112,', 2),
 ('"Avatar",', 1),
 ('2009);', 1),
 ('"Gravatar",', 1),
 ('2012);', 1),
 ('uniqueness', 1),
 ('...title', 1),
 ('TEXT', 1),
 ('UNIQUE...', 1),
 ('MyTable(title', 1),
 ('(title,year)', 2),
 ...]

In [24]:
# We can chain together all the previous operations in the following one-liner
word_counts = lines_rdd.flatMap(lambda x: x.split(' ')) \
                       .map(lambda x: (x, 1)) \
                       .reduceByKey(add)

In [25]:
word_counts.collect()

[('*', 49),
 ('Resources:', 1),
 ('Coursera', 1),
 ('(Introduction', 1),
 ('to', 49),
 ('DBs)', 1),
 ('', 4317),
 ('Relational', 2),
 ('algebra:', 1),
 ('Mathematical', 1),
 ('basis', 1),
 ('of', 63),
 ('relational', 2),
 ('databases:', 1),
 ('specifies', 1),
 ('set', 7),
 ('operators', 1),
 ('like', 8),
 ('intersection,', 1),
 ('union,', 1),
 ('difference,', 1),
 ('selection,', 1),
 ('projection,', 1),
 ('join', 4),
 ('Theory', 1),
 ('refers', 1),
 ('sets', 2),
 ('(each', 1),
 ('element', 1),
 ('is', 24),
 ('unique),', 1),
 ('but', 8),
 ('in', 37),
 ('practice', 1),
 ('we', 9),
 ('usually', 1),
 ('deal', 1),
 ('with', 19),
 ('bags', 1),
 ('(which', 1),
 ('do', 5),
 ('allow', 2),
 ('duplicates)', 1),
 ('Algebra', 1),
 ('closed:', 2),
 ('results', 4),
 ('operations', 1),
 ('are', 11),
 ('also', 6),
 ('relations', 3),
 ('SQL', 9),
 ('has', 8),
 ('algebra', 1),
 ('as', 18),
 ('its', 3),
 ('foundation', 1),
 ('model:', 1),
 ('-', 145),
 ('A', 4),
 ('*database*', 1),
 ('a', 72),
 ('named', 2),
 ('*relations*', 1),
 ('(or', 2),
 ('*tables*)', 1),
 ('Each', 4),
 ('relation', 6),
 ('attributes', 4),
 ('columns)', 1),
 ('tuple', 3),
 ('value', 11),
 ('for', 23),
 ('each', 14),
 ('attribute', 2),
 ('*type*', 1),
 ('*Schema*:', 1),
 ('Structural', 1),
 ('description', 1),
 ('the', 70),
 ('contents', 2),
 ('DB', 12),
 ('(set', 1),
 ('up', 5),
 ('advance:', 1),
 ('includes', 4),
 ('names', 6),
 ('relations,', 1),
 ('&', 3),
 ('their', 1),
 ('types)', 1),
 ('schema', 3),
 ('collection', 1),
 ('schemas', 1),
 ('*Instance*:', 1),
 ('Actual', 1),
 ('at', 6),
 ('particular', 3),
 ('point', 1),
 ('time', 2),
 ('Query', 1),
 ('language', 1),
 ('Results', 1),
 ('from', 18),
 ('queries', 5),
 ('--', 5),
 ('creating', 1),
 ('DBs/tables,', 1),
 ('loading', 2),
 ('data', 9),
 ('into', 3),
 ('tables,', 1),
 ('writing', 1),
 ('back', 1),
 ('out', 1),
 ('files:', 1),
 ('Creating', 3),
 ('and', 36),
 ('using', 4),
 ('new', 1),
 ('SQL;', 1),
 ('CREATE', 18),
 ('DATABASE', 2),
 ('my_db;', 3),
 ('USE', 1),
 ('(table)', 1),
 ('by', 18),
 ('specifying', 1),
 ('SCHEMA:', 1),
 ('TABLE', 13),
 ('Movie(mID', 1),
 ('int,', 5),
 ('title', 12),
 ('text,', 1),
 ('year', 13),
 ('director', 4),
 ('text);', 1),
 ('/*', 4),
 ('simple', 1),
 ('example', 2),
 ('*/', 4),
 ('training', 5),
 ('(num_clicks', 1),
 ('INT', 7),
 ('UNSIGNED,', 4),
 ('num_impressions', 1),
 ('more', 5),
 ('complex', 1),
 ('display_url', 1),
 ('VARCHAR(30),', 7),
 ('ad_id', 1),
 ('advertiser_id', 1),
 ('depth', 1),
 ('position', 1),
 ('query_id', 1),
 ('keyword_id', 1),
 ('title_id', 1),
 ('description_id', 1),
 ('user_id', 1),
 ('VARCHAR(30));', 1),
 ('Showing', 1),
 ('accessible', 1),
 ('DBs', 4),
 ('tables:', 2),
 ('SHOW', 2),
 ('databases;', 1),
 ('tables;', 1),
 ('Drop', 1),
 ('or', 9),
 ('DROP', 6),
 ('Movie;', 6),
 ('IF', 1),
 ('EXISTS', 1),
 ('first', 7),
 ('check', 3),
 ('see', 4),
 ('if', 12),
 ('table', 14),
 ('exists', 1),
 ('Loading', 1),
 ('text', 2),
 ('file', 1),
 ('table:', 2),
 ('LOAD', 1),
 ('DATA', 1),
 ('LOCAL', 1),
 ('INFILE', 1),
 ("'training.txt'", 1),
 ('INTO', 7),
 ('FIELDS', 2),
 ('TERMINATED', 3),
 ('BY', 18),
 ("'\\t';", 1),
 ('Writing', 1),
 ('file:', 1),
 ('SELECT', 51),
 ("'col_name1',", 1),
 ("'col_name2'...", 1),
 ('UNION', 5),
 ('ALL', 3),
 ('FROM', 53),
 ('OUTFILE', 1),
 ("'training.csv'", 1),
 ("','", 1),
 ('LINES', 1),
 ("'\\n';", 1),
 ('Populating', 1),
 ('hand:', 1),
 ('SQL_SAFE_UPDATES', 1),
 ('=', 49),
 ('0;', 2),
 ('tell', 2),
 ('MySQL', 3),
 ('updates', 1),
 ('INSERT', 7),
 ('Movie', 25),
 ('values(101,', 1),
 ("'Gone", 1),
 ("Wind',", 1),
 ('1939,', 1),
 ("'Victor", 1),
 ("Fleming');", 1),
 ('#', 72),
 ('Insert', 1),
 ('5-star', 1),
 ('ratings', 4),
 ('James', 2),
 ('Cameron', 2),
 ('all', 14),
 ('movies', 10),
 ('database.', 1),
 ('Leave', 1),
 ('review', 1),
 ('date', 3),
 ('NULL.', 1),
 ('Rating', 18),
 ('207,', 1),
 ('mID,', 2),
 ('5,', 1),
 ('null', 1),
 ('this', 12),
 ('gets', 3),
 ('every', 3),
 ('mID', 15),
 ('ID', 4),
 ("'207'", 1),
 ('Removing/updating', 1),
 ('data:', 2),
 ('SEE', 1),
 ('BELOW', 1),
 ('SIMILAR', 1),
 ('SYNTAX', 1),
 ('TO', 3),
 ('QUERY', 1),
 ('GET', 1),
 ('THE', 1),
 ('ROWS', 1),
 ('WE', 1),
 ('WANT,', 1),
 ('THEN', 3),
 ('DELETE/UPDATE', 1),
 ('THEM', 1),
 ('Updating', 1),
 ('rows:', 2),
 ('UPDATE', 2),
 ('SET', 4),
 ('+', 3),
 ('25', 1),
 ('WHERE', 31),
 ('IN', 5),
 ('(SELECT', 11),
 ('Movie);', 2),
 ('clause', 3),
 ('Deleting', 1),
 ('DELETE', 2),
 ('Highschooler', 10),
 ('grade', 6),
 ('12;', 1),
 ('Adding', 1),
 ('column:', 2),
 ('ALTER', 2),
 ('ADD', 2),
 ('ctr', 2),
 ('DOUBLE;', 1),
 ('adds', 2),
 ('column', 11),
 ("'ctr'", 1),
 ('type', 2),
 ('double', 1),
 ('num_clicks', 1),
 ('/', 1),
 ('num_impressions;', 1),
 ('entry', 2),
 ('Sorting', 1),
 ('ORDER', 7),
 ('col', 3),
 ('(DESC):', 1),
 ('year;', 1),
 ('sort', 3),
 ('increasing', 2),
 ('DESC;', 1),
 ('decreasing', 2),
 ('year,rating;', 1),
 ('then', 9),
 ('rating', 9),
 ('Removing', 1),
 ('duplicates', 3),
 ('result', 5),
 ('DISTINCT):', 1),
 ('DISTINCT', 4),
 ('Determining', 1),
 ('does', 1),
 ('NOT', 12),
 ('take', 2),
 ('(WHERE/AND', 1),
 ('variable', 2),
 ('IN):', 1),
 ('Movie.mID', 12),
 ('Rating);', 1),
 ('finds', 3),
 ('no', 2),
 ('LIKE:', 1),
 ('More', 1),
 ('flexible', 1),
 ('than', 3),
 ('operator', 2),
 ('when', 6),
 ('matching', 2),
 ('query', 4),
 ('*string*', 1),
 ('LIKE', 2),
 ('"Gone%";', 1),
 ('matches', 1),
 ('any', 2),
 ('that', 15),
 ('*starts*', 1),
 ('"Gone"', 1),
 ('"%the%";', 1),
 ('excludes', 1),
 ('titles', 2),
 ('contain', 1),
 ('"the"', 1),
 ('------', 2),
 ('Find', 4),
 ('grades', 1),
 ('students', 6),
 ('who', 5),
 ('only', 8),
 ('have', 7),
 ('friends', 2),
 ('same', 7),
 ('grade.', 2),
 ('Return', 2),
 ('sorted', 1),
 ('grade,', 3),
 ('name', 7),
 ('within', 1),
 ('IDs', 1),
 ('*do*', 1),
 ('different', 2),
 ('exclude', 1),
 ('them', 2),
 ('name,', 2),
 ('H1.ID', 6),
 ('H1,', 3),
 ('H2,', 3),
 ('Friend', 4),
 ('F', 1),
 ('F.ID1', 1),
 ('AND', 21),
 ('H2.ID', 6),
 ('F.ID2', 1),
 ('H1.grade', 1),
 ('<>', 1),
 ('H2.grade)', 1),
 ('name;', 1),
 ('NULL', 10),
 ('values:', 1),
 ('Special', 1),
 ('"unknown"', 1),
 ('"undefined"', 1),
 ('E.g.', 4),
 ('search', 1),
 ('GPA', 5),
 ('>', 9),
 ('3.5,', 1),
 ('student', 4),
 ('will', 4),
 ('*not*', 2),
 ('be', 26),
 ('returned', 1),
 ('Use', 1),
 ('IS', 3),
 ('NULL/IS', 1),
 ('determine', 1),
 ('NULL:', 1),
 ('NULL;', 1),
 ('Do', 1),
 ('use', 4),
 ("'=", 1),
 ("NULL';", 1),
 ('would', 1),
 ('return', 5),
 ('nothing', 3),
 ('equal', 3),
 ("'NULL'", 2),
 ('Aliases:', 1),
 ('Aliasing', 2),
 ('M,', 1),
 ('R,', 1),
 ('R2...', 1),
 ('col1', 2),
 ('col2', 2),
 ('AS', 13),
 ('diff', 1),
 ('Movie...', 1),
 ('MUST', 1),
 ('alias', 3),
 ('derived', 3),
 ('table/subquery:', 1),
 ('M1.mID', 2),
 ('Movie)', 2),
 ('M1,', 1),
 ('M1', 1),
 ('year,mID', 1),
 ('M2', 2),
 ('M2.mID;', 1),
 ('----------', 1),
 ('For', 6),
 ('movie,', 2),
 ("'rating", 1),
 ("spread',", 1),
 ('is,', 1),
 ('difference', 3),
 ('between', 6),
 ('highest', 3),
 ('lowest', 1),
 ('given', 2),
 ('movie.', 2),
 ('Sort', 2),
 ('spread', 1),
 ('lowest,', 1),
 ('movie', 8),
 ('title.', 2),
 ('title,', 4),
 ('MAX(stars)', 2),
 ('MIN(stars)', 1),
 ('ratingSpread', 2),
 ('Movie,', 7),
 ('Rating.mID', 8),
 ('GROUP', 10),
 ('desc,', 1),
 ('title;', 3),
 ('EXPLAIN', 1),
 ('SELECT...', 1),
 ('gives', 6),
 ('execution', 2),
 ('plan', 1),
 ('query;', 1),
 ('shows', 2),
 ('what', 2),
 ('column(s)', 1),
 ('should', 5),
 ('made', 3),
 ('an', 6),
 ('index', 9),
 ('etc', 2),
 ('Gives', 1),
 ('list', 2),
 ('rows', 15),
 ('showing', 1),
 ('queried', 1),
 ('tables', 2),
 ('Key:', 1),
 ('Identifies', 1),
 ('row', 4),
 ('(possibly', 1),
 ('uniquely)', 1),
 ('Attribute', 1),
 ('whose', 1),
 ('unique', 5),
 ('tuple,', 1),
 ('e.g.', 6),
 ('Can', 8),
 ('combo', 2),
 ('key,', 1),
 ('"Name', 1),
 ('State"', 1),
 ('college', 1),
 ('used', 4),
 ('identify', 1),
 ('specific', 2),
 ('tuples', 1),
 ('quickly;', 1),
 ('can', 15),
 ('find', 3),
 ('very', 1),
 ('quickly', 1),
 ('based', 1),
 ('on', 10),
 ('key', 7),
 ('If', 4),
 ('one', 9),
 ('wants', 1),
 ('refer', 1),
 ('another', 1),
 ('relation,', 1),
 ('typically', 2),
 ('so', 6),
 ('via', 1),
 ("tuple's", 1),
 ('Primary', 2),
 ('key:', 1),
 ('Represents', 1),
 ('column/set', 1),
 ('columns', 6),
 ('most', 1),
 ('vital', 1),
 ('Has', 1),
 ('associated', 1),
 ('fast', 1),
 ('never', 2),
 ('Only', 1),
 ('primary', 3),
 ('allowed', 1),
 ('In', 3),
 ('MySQL:', 1),
 ('KEY', 5),
 ('EQUIVALENT', 1),
 ('INDEX', 5),
 ('UNIQUE', 4),
 ('constraint', 9),
 ('says', 1),
 ('keys', 1),
 ('must', 4),
 ('distinct', 3),
 ('PRIMARY', 7),
 ('cannot', 2),
 ('SQL:', 1),
 ('MyTable(id', 4),
 ('KEY,', 2),
 ('TEXT,', 3),
 ('INT);', 2),
 ('basic', 7),
 ('form', 8),
 ('MyTable', 3),
 ('KEY(MyKey)', 1),
 ('my_key', 1),
 ('now', 3),
 ('my_table', 1),
 ('Normalisation:', 1),
 ('Subqueries:', 1),
 ('See', 1),
 ('"derived', 1),
 ('tables"', 1),
 ('above', 4),
 ('SELECT,', 1),
 ('LIMIT:', 1),
 ('LIMIT', 2),
 ('5;', 3),
 ('get', 3),
 ('5', 1),
 ('2,3;', 1),
 ('3', 1),
 ('starting', 1),
 ('2', 1),
 ('(uses', 1),
 ('0-based', 1),
 ('indexing,', 1),
 ('starts', 1),
 ('0)', 1),
 ('UNION:', 1),
 ('Combines', 1),
 ('multiple', 3),
 ('statements', 5),
 ('single', 1),
 ('Uses', 1),
 ('statement', 2),
 ('First', 2),
 ('subsequent', 1),
 ('statements,', 1),
 ('Syntax:', 3),
 ("'101'", 4),
 ('produces', 3),
 ("'108'", 1),
 ("'108';", 1),
 ('called', 1),
 ('which', 3),
 ('contains', 2),
 ("'mID'", 2),
 ('values', 4),
 ("'stars'", 1),
 ('stars', 7),
 ('above,', 1),
 ('(i.e.', 1),
 ('other', 3),
 ('cases', 2),
 ("'stars", 1),
 ("5')", 1),
 ('Joins:', 1),
 ('*Join', 1),
 ('condition*', 1),
 ('something', 1),
 ("'Reviewer.rID", 1),
 ('Rating.rID', 3),
 ("Movie.mID'", 1),
 ('Used', 3),
 ('ensure', 1),
 ('right', 4),
 ('matched', 1),
 ('joined', 1),
 ('together', 1),
 ('http://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins',
  1),
 ('...FROM', 1),
 ('Table1,', 1),
 ('Table2...', 1),
 ('Implicit', 1),
 ('join,', 1),
 ('essentially', 1),
 ('cross', 2),
 ('product', 1),
 ('Same', 3),
 ('INNER', 10),
 ('JOIN', 14),
 ('Rating.mID;', 4),
 ('equiv.', 3),
 ('below', 1),
 ('ON', 9),
 ('condition', 3),
 ('Takes', 1),
 ('product;', 1),
 ('applies', 1),
 ('"condition"', 1),
 ('keeps', 1),
 ('satisfy', 1),
 ('implicit', 2),
 ('USING(attrs)', 1),
 ('Similar', 2),
 ('NATURAL', 2),
 ('JOIN,', 3),
 ('explicitly', 1),
 ('want', 4),
 ('equated', 1),
 ('Bit', 1),
 ('syntactic', 1),
 ('sugar', 1),
 ('normal', 2),
 ('copy', 1),
 ('match', 4),
 ('USING', 1),
 ('(mID);', 1),
 ('Equates', 1),
 ('(&', 1),
 ('values),', 1),
 ('eliminates', 1),
 ('duplicate', 1),
 ('Dangerous', 1),
 ('discouraged', 1),
 ('LEFT', 3),
 ('|', 3),
 ('RIGHT', 2),
 ('FULL', 2),
 ('OUTER', 5),
 ('pads', 1),
 ("don't", 4),
 ('JOIN:', 2),
 ('condition,', 1),
 ('but...', 1),
 ('Also', 2),
 ('left', 4),
 ('even', 2),
 ('they', 4),
 ('Basically', 1),
 ('table,', 1),
 ("haven't", 2),
 ('been', 1),
 ('rated', 3),
 ('anyone', 1),
 ('reviewers', 1),
 ('both', 3),
 ('Not', 1),
 ('supported', 1),
 ('emulated', 1),
 ('Self-join:', 1),
 ('compare', 1),
 ('against', 2),
 ('following', 1),
 ('example,', 1),
 ('itself,', 1),
 ('adding', 1),
 ('extra', 2),
 ('conditions', 2),
 ("'Rating", 1),
 ("r2'", 1),
 ('where', 2),
 ('reviewer', 1),
 ('twice', 1),
 ('gave', 1),
 ('it', 3),
 ('higher', 1),
 ('second', 1),
 ('time,', 2),
 ("reviewer's", 1),
 ('name,title', 1),
 ('Reviewer,', 1),
 ('Rating,', 1),
 ('r2', 1),
 ('Reviewer.rID', 1),
 ('r2.rID', 1),
 ('r2.mID', 1),
 ('r2.ratingDate', 1),
 ('Rating.ratingDate', 1),
 ('r2.stars', 1),
 ('Rating.stars;', 1),
 ('pair', 2),
 ('other,', 1),
 ('students.', 1),
 ('Include', 1),
 ('once,', 1),
 ('two', 2),
 ('alphabetical', 1),
 ('order.', 1),
 ('H1.name,', 3),
 ('H1.grade,', 2),
 ('H2.name,', 2),
 ('H2.grade', 1),
 ('Likes', 4),
 ('L1,', 1),
 ('L2', 1),
 ('L1.ID1', 1),
 ('L1.ID2', 1),
 ('L2.ID2', 1),
 ('L2.ID1', 1),
 ('H1.name', 1),
 ('<', 7),
 ('H2.name', 1),
 ('H2.name;', 1),
 ('Aggregate', 1),
 ('functions:', 1),
 ('Functions', 1),
 ('applied', 2),
 ('groups', 1),
 ('rows,', 1),
 ('min/max/count', 1),
 ('apply', 1),
 ('id', 1),
 ('group', 2),
 ('ID,', 1),
 ('aggregate', 2),
 ('functions', 2),
 ('When', 1),
 ('you', 1),
 ('specify', 1),
 ('BY,', 2),
 ('database', 1),
 ('aggregated', 1),
 ('supplied', 1),
 ('columns.', 1),
 ('case,', 1),
 ("we're", 1),
 ('saying', 1),
 ('"for', 1),
 ('foo,', 1),
 ('me', 1),
 ('number', 8),
 ('times', 1),
 ('appears".', 1),
 ('COUNT(*)', 3),
 ('O(n)', 1),
 ('director;', 2),
 ('MAX(year)', 1),
 ('latest', 1),
 ('directed', 1),
 ('COUNT(id)', 1),
 ('COUNT(distinct', 1),
 ('name)', 1),
 ('Highschooler;', 1),
 ('school', 1),
 ('HAVING:', 1),
 ('Needed', 1),
 ('because', 2),
 ("can't", 1),
 ('conjunction', 1),
 ('liked', 1),
 ('student.', 1),
 ('H,', 1),
 ('L', 1),
 ('H.ID', 1),
 ('L.ID2', 3),
 ('HAVING', 1),
 ('1;', 1),
 ('Postgres:', 3),
 ('Conditionals:', 1),
 ('CASE', 1),
 ('WHEN', 3),
 ('condition_1', 1),
 ('do_something...', 3),
 ('condition_2', 1),
 ('ELSE', 1),
 ('END', 1),
 ('col_name', 1),
 ('Dates', 2),
 ('intervals:', 1),
 ('\t\t\t', 2),
 ('update_date', 1),
 ("('2013-05-03'::date", 1),
 ("'1", 1),
 ("day'::interval);", 1),
 ('formatted', 1),
 ('descending', 1),
 ('order', 3),
 ('magnitude:', 1),
 ('YYYY-MM-DD', 1),
 ('HH:MM:SS.nnnnnn', 1),
 ('No', 1),
 ('need', 2),
 ('cast', 1),
 ('case', 1),
 ("it's", 2),
 ('automatic', 1),
 ('extract(month', 1),
 ('timestamp)', 1),
 ('month', 1),
 ("'3'", 1),
 ('String', 1),
 ('concatenation', 1),
 ('||:', 1),
 ('(firstname', 1),
 ('||', 2),
 ("'", 2),
 ('surname)', 1),
 ('member', 1),
 ('FROM...', 1),
 ('-----', 1),
 ('least', 1),
 ('rating,', 1),
 ('received.', 1),
 ('stars.', 1),
 ('Indexes:', 1),
 ('way', 1),
 ('achieving', 1),
 ('increased', 1),
 ('performance', 1),
 ('User', 1),
 ('indexes', 4),
 ('Given', 1),
 ("'col',", 1),
 ('perform', 3),
 ('quick', 1),
 ('lookups', 3),
 ("'col", 2),
 ("8'", 2),
 ("'4", 2),
 ("9';", 1),
 ('scan', 1),
 ('whole', 1),
 ('Hash-based', 1),
 ('indexes:', 2),
 ('constant-time,', 1),
 ('equality-based', 1),
 ('Tree-based', 1),
 ('log', 1),
 ('handle', 1),
 ("9'", 1),
 ('create', 2),
 ('Disadvantages:', 1),
 ('Take', 1),
 ('space,', 1),
 ('creation', 1),
 ('while,', 1),
 ('maintained', 1),
 ('modifications', 1),
 ('become', 1),
 ('much', 2),
 ('slower', 1),
 ('Deciding', 1),
 ('create:', 1),
 ('Depends', 1),
 ('size', 1),
 ('DB,', 2),
 ('distributions,', 1),
 ('vs', 1),
 ('update', 1),
 ('frequencies', 1),
 ('Physical', 1),
 ('design', 1),
 ('advisors', 1),
 ('recommend', 1),
 ('stats', 1),
 ('workload', 1),
 ('myIndex', 4),
 ('myDB', 3),
 ('(myCol)', 1),
 ('(myCol1,', 1),
 ('myCol2)', 1),
 ('(name(10))', 1),
 ('1st', 1),
 ('10', 1),
 ('characters', 1),
 ("'name';", 1),
 ('creates', 1),
 ('smaller', 1),
 ('file,', 1),
 ('poss.', 1),
 ('speed', 2),
 ('myIndex...', 1),
 ('ensures', 1),
 ('*column*', 1),
 ('unique;', 1),
 ('enforcement', 1),
 ('deletes', 3),
 ('(Integrity)', 1),
 ('Constraints', 2),
 ('constrain', 1),
 ('allowable', 2),
 ('states', 1),
 ('Impose', 1),
 ('restrictions', 1),
 ('Catch', 1),
 ('entry/update', 1),
 ('errors', 1),
 ('Enforce', 1),
 ('consistency', 1),
 ('Tell', 1),
 ('system', 7),
 ('about', 1),
 ('constraints', 7),
 ('etc;', 1),
 ('processing', 1),
 ('info', 1),
 ('0.0', 3),
 ('4.0', 2),
 ("'decision'", 1),
 ('might', 1),
 ("'Y',", 1),
 ("'N'", 1),
 ('major', 1),
 ("'CS'", 1),
 ('=>', 1),
 ('decision', 1),
 ('meaning', 1),
 ('decisions', 1),
 ('CS', 1),
 ('majors', 1),
 ('Types', 1),
 ('constraints:', 1),
 ('Non-NULL', 1),
 ('Key', 1),
 ('Referential', 1),
 ('integrity', 1),
 ('(foreign', 1),
 ('key)', 1),
 ('Attribute-based', 1),
 ('Tuple-based', 1),
 ('General', 1),
 ('assertions', 1),
 ('declare', 1),
 ('original', 1),
 ('schema;', 1),
 ('checked', 3),
 ('after', 6),
 ('bulk', 1),
 ('Or', 1),
 ('add', 1),
 ('later;', 1),
 ('current', 1),
 ('state', 1),
 ('added', 1),
 ('Enforcement:', 1),
 ('whenever', 2),
 ('relevant', 1),
 ('modification', 1),
 ('Deferred', 1),
 ('checking:', 1),
 ('Check', 1),
 ('*whole', 1),
 ('transaction', 11),
 ('completed*', 1),
 ('Constraint', 1),
 ('syntax:', 3),
 ('INT,', 5),
 ('NULL);', 2),
 ('RatingNotNull(rID', 1),
 ('ratingDate', 1),
 ('RatingNotNull', 1),
 ('values(202,', 1),
 ('106,', 1),
 ('4,', 1),
 ('NULL);\t', 1),
 ('violates', 3),
 ('values(112,', 2),
 ('"Avatar",', 1),
 ('2009);', 1),
 ('"Gravatar",', 1),
 ('2012);', 1),
 ('uniqueness', 1),
 ('...title', 1),
 ('TEXT', 1),
 ('UNIQUE...', 1),
 ('MyTable(title', 1),
 ('(title,year)', 2),
 ...]

## Machine learning with Spark
Spark's MLlib contains a large number of distributed implementations of machine learning algorithms. Generally, it tries to follow a similar interface to scikit-learn so you should be able to pick it up very easily.

Keep in mind that there are two versions of MLlib: the older one is based on RDDs and the newer uses DataFrames as the primary structure for storing data sets. Make sure you use the DataFrame-based API as the RDD-based version is in maintenance mode and will soon be deprecated!

The following toy example shows a few fundamental concepts in MLlib: `Transformer`s, `Estimator`s and `Pipeline`s. These work as follows:

* `Estimator`: An Estimator is an algorithm which can be fit on a DataFrame to produce a Transformer. Example: `LogisticRegression` is an Estimator which is trained on a training DataFrame and produces a `LogisticRegressionModel` Transformer (which can be run on a test set to make predictions).

* `Transformer`: A Transformer is an algorithm which can transform one DataFrame into another DataFrame. Examples: Feature transformers like `Tokenizer`s or `CountVectorizer`s. A `LogisticRegressionModel` is also a Transformer which transforms a DataFrame with features (e.g. a test set) into a DataFrame with predictions.

* `Pipeline`: A Pipeline chains multiple Transformers and Estimators together to specify an ML workflow. As in scikit-learn, at training time we call `fit()` to perform transformations on the training data and fit the model specified by the `Estimator`. To evaluate the model, we call `transform()` on the test data to make predictions. Note that this last step is a bit different from scikit-learn, where we call `predict()` to make predictions.

In [26]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import CountVectorizer, Tokenizer

# Prepare training documents from a list of (id, text, label) tuples. In this example, we're
# simply looking to output "1.0" when the text contains "spark" and "0.0" otherwise. Usually
# text classification problems contain a much larger vocabulary than this!
training = spark.createDataFrame([
    (0, "a b c d e spark", 1.0),
    (1, "b d", 0.0),
    (2, "spark f g h", 1.0),
    (3, "hadoop mapreduce", 0.0)
], ["id", "text", "label"])

# Set up an ML pipeline, which consists of three stages: a tokenizer, a count vectorizer
# and the logistic regression estimator itself.
# The tokenizer and count vectorizer are Transformers; logistic regression is an Estimator.
tokenizer = Tokenizer(inputCol="text", outputCol="words")
count_vectorizer = CountVectorizer(inputCol=tokenizer.getOutputCol(), outputCol="features")
logistic_regression = LogisticRegression(maxIter=10, regParam=0.001)
pipeline = Pipeline(stages=[tokenizer, count_vectorizer, logistic_regression])

# Fit pipeline to training documents
model = pipeline.fit(training)

In [27]:
# Prepare test documents, which are *unlabeled* (id, text) tuples
test = spark.createDataFrame([
    (4, "spark i j k"),
    (5, "l m n"),
    (6, "spark hadoop spark"),
    (7, "apache hadoop")
], ["id", "text"])

# Make predictions on test documents and print columns of interest
prediction = model.transform(test)
selected = prediction.select("id", "text", "probability", "prediction")
for row in selected.collect():
    rid, text, prob, prediction = row
    print("({0}, {1}) --> prob={2}, prediction={3}".format(rid, text, prob, prediction))

(4, spark i j k) --> prob=[0.155543713844,0.844456286156], prediction=1.0
(5, l m n) --> prob=[0.830707735211,0.169292264789], prediction=0.0
(6, spark hadoop spark) --> prob=[0.0696218406195,0.93037815938], prediction=1.0
(7, apache hadoop) --> prob=[0.981518350351,0.018481649649], prediction=0.0

In [28]:
spark.stop()